* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: xx-large;
    margin: 2rem 0rem 0rem .5rem;
}

h3 {
    margin: 2rem 1rem;
}

h4 {
    margin: 2rem .5rem;
}

p {
    text-align: justify;

}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
}

.header__container {

    background: rgb(26, 19, 155);
    background: linear-gradient(30deg,
            rgb(15, 133, 34) 0%,
            rgba(9, 9, 121, .8) 35%,
            rgba(0, 212, 255, 1) 100%);
}

.header__logo {
    position: absolute;
    width: 10%;
    margin-top: 2%;
    margin-left: 2%;
}

.header__img {
    width: 100%;
}

.header__title {
    color: rgb(234, 234, 247);
    text-align: center;
    margin: 1rem auto;
}

.menu__links {
    display: flex;
    justify-content: center;
    margin: 0rem 0rem 1rem 0rem;
}

.menu__link {
    margin: 0 1rem;
    list-style: none;
    background-color: rgb(1, 1, 143);
    border-radius: 12px;
    padding: 0.5rem 1rem;
}
.menu__link:hover{
    background-color: rgb(65, 65, 204);
    box-shadow: 0px 15px 20px rgba(217, 217, 226, 0.4);
    transform: translateY(-7px);
}
a {
    color: aliceblue;
    height: .375rem;
    text-decoration: none;


}

main {
    height: auto;
    padding: 2rem;
    margin: 2rem auto;
    line-height: 170%;
    border-block: 2px solid black;
    background: linear-gradient(30deg,
            rgba(15, 133, 35, 0.5) 0%,
            rgba(9, 9, 121, .5) 35%,
            rgba(0, 213, 255, 0.7) 100%);
}


.footer {
    display: flex;
    background-color: aqua;
    height: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    color: #000;
    margin: .3rem 0;
}

table {
    margin: 4rem auto;
}

th {
    width: 12rem;
}

td {
    width: 12rem;
}

form {
    width: 100%;
    margin: 2rem auto;
}

.form__title {
    text-align: center;
    margin-bottom: 1rem;
}

.form__subtitle {
    margin: 1rem 1rem;
}

.form__paragraph {
    margin: 2rem auto 2rem auto;
    line-height: 1.5rem;
    width: 90%;
    text-align: justify;
}

body {
    padding: 1rem;
    background-color: rgb(148, 226, 180);
    display: flex;
    flex-direction: column;
}

form {
    border: 2px solid white;
    padding: 3rem;
    border-radius: 1rem;
    background-color: rgb(148, 226, 140);
    ;
}

fieldset {
    padding: 1rem;
}

.form__inline {
    margin-bottom: 1rem;
}

label {
    margin-left: 1rem;
}

input {
    margin: 0 0 .7rem .5rem;

}

.form__button {
    padding: .6rem;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.form__button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);

}

iframe {
    width: 30vw;
    height: 30vw;
    margin: 1rem;
    border-radius: 3rem;
    box-shadow: 2px 2px 5px #443e3e
}